age = int(input('Введите возраст:'))

if age >= 18
  print('You are an adult')
else
  print('You are a child')
  
